<?xml version="1.0"?>
<robot name="sink">
  <link name="base_link">
     <visual>
      <origin xyz="0 0 -0.0345" rpy="0 0 0" />
      <geometry>
        <box size="0.15 0.15 0.001" />
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="0 0.0745 0" rpy="0 0 0" />
      <geometry>
        <box size="0.15 0.001 0.07" />
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="0 -0.0745 0" rpy="0 0 0" />
      <geometry>
        <box size="0.15 0.001 0.07" />
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="0.0745 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.001 0.15 0.07" />
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1" />
      </material>
    </visual>
    <visual>
      <origin xyz="-0.0745 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.001 0.15 0.07" />
      </geometry>
      <material name="red">
        <color rgba="1 0 0 1" />
      </material>
    </visual>

    <collision>
      <origin xyz="0 0 -0.0345" rpy="0 0 0" />
      <geometry>
        <box size="0.15 0.15 0.001" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 0.0745 0" rpy="0 0 0" />
      <geometry>
        <box size="0.15 0.001 0.07" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0 -0.0745 0" rpy="0 0 0" />
      <geometry>
        <box size="0.15 0.001 0.07" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0745 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.001 0.15 0.07" />
      </geometry>
    </collision>
    <collision>
      <origin xyz="-0.0745 0 0" rpy="0 0 0" />
      <geometry>
        <box size="0.001 0.15 0.07" />
      </geometry>
    </collision>
  </link>
</robot>
